<div class="navbar navbar-inverse "style="background-color: #4D436B;" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"style="color: #EEC390;"  href="/">Pitches World</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li style="color: #EEC390;"><a href="/">Home</a></li>
                <li><a href="/post" class="tag"style="color: #EEC390;">Write Pitch</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
              

              <li class="user"style="color: #EEC390;"><a href="{{url_for('main.profile',uname=current_user.username)}}">{{current_user.username}}</a></li>
              
              <li><a href="{{url_for('auth.logout')}}"style="color: #EEC390;">Sign out</a></li>
              {% else %}
              <li><a href="{{url_for('auth.login')}}"style="color: #EEC390;">Sign in</a></li>

              {%endif%}
            </ul>
        </div>
    </div>
  </div>